.shop-item {
	font-family: 'Montserrat', sans-serif;
	max-width: 330px;

	div {
		display: inline-block;
	}

	&__image img {
		width: 100%;
	}
	&__color {
		width: 25px;
		height: 25px;
		background-color: #000;
	}
}